.navBarHeader {
    margin: 30px;
    display: flex;
    border-bottom: 2px solid lightgrey;
}

.login_button {
    margin-left: 400px;
    margin-top: 25px;
    margin-bottom: 25px;
}

ul {
    color: blue;
    font-size: 75px;    
}

button {
    margin-left: 50px;
}